{% extends 'base.html.twig' %}

{% block title %}Snack Machine{% endblock %}

{% block body %}
    <div class="col-6">
        {% for snackPile in snackMachine.allSnackPiles %}
            <div class="d-flex align-items-center">
                <img src="/img/{{ snackPile.snack }}.png" width="100px">
                <p class="ml-3">
                    <strong>${{ snackPile.price|number_format(2) }}</strong><br>
                    <strong>{{ snackPile.quantity }}</strong> left
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="col-6">
        <div class="d-flex justify-content-between">
            <a class="btn btn-primary w-25" href="{{ path('snack-machine-buy-snack', {id: snackMachine.id, position: 1}) }}">Buy #1</a>
            <a class="btn btn-primary w-25" href="{{ path('snack-machine-buy-snack', {id: snackMachine.id, position: 2}) }}">Buy #2</a>
            <a class="btn btn-primary w-25" href="{{ path('snack-machine-buy-snack', {id: snackMachine.id, position: 3}) }}">Buy #3</a>
        </div>
        <p class="text-center m-3">
            Money inserted: <strong>{{ snackMachine.moneyInTransactionAsString }}</strong>
        </p>
        <div class="d-flex justify-content-between">
            <a class="btn btn-primary w-25" href="{{ path('snack-machine-insert-money', {id: snackMachine.id, amount: 'one-cent'}) }}">Put ¢1</a>
            <a class="btn btn-primary w-25" href="{{ path('snack-machine-insert-money', {id: snackMachine.id, amount: 'ten-cent'}) }}">Put ¢10</a>
            <a class="btn btn-primary w-25" href="{{ path('snack-machine-insert-money', {id: snackMachine.id, amount: 'quarter'}) }}">Put ¢25</a>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <a class="btn btn-primary w-25" href="{{ path('snack-machine-insert-money', {id: snackMachine.id, amount: 'one-dollar'}) }}">Put $1</a>
            <a class="btn btn-primary w-25" href="{{ path('snack-machine-insert-money', {id: snackMachine.id, amount: 'five-dollar'}) }}">Put $5</a>
            <a class="btn btn-primary w-25" href="{{ path('snack-machine-insert-money', {id: snackMachine.id, amount: 'twenty-dollar'}) }}">Put $20</a>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-warning w-100" href="{{ path('snack-machine-return-money', {id: snackMachine.id}) }}">Return money</a>
        </div>
    </div>
    <div class="col-12 mt-5 text-center">
        <p>Money inside: <strong>{{ snackMachine.moneyInside }}</strong></p>
        <p>
            <img src="/img/1c.png" width="80px"> {{ snackMachine.moneyInside.oneCentCount }}
            <img src="/img/10c.png" width="80px"> {{ snackMachine.moneyInside.tenCentCount }}
            <img src="/img/25c.png" width="80px"> {{ snackMachine.moneyInside.quarterCount }}
        </p>
        <p>
            <img src="/img/1d.png" width="80px"> {{ snackMachine.moneyInside.oneDollarCount }}
            <img src="/img/5d.png" width="80px"> {{ snackMachine.moneyInside.fiveDollarCount }}
            <img src="/img/20d.png" width="80px"> {{ snackMachine.moneyInside.twentyDollarCount }}
        </p>
    </div>
    {% for message in app.flashes('info') %}
        <div class="col-12 text-center mt-2">
            <div class="alert alert-info">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
